node_modules/
dist/
*.log
tmp/
.DS_Store
.idea/
.vscode/
*.iml

android/.gradle/
android/build/
android/.idea/
android/local.properties

ios/DerivedData/
ios/Pods/
ios/App/build/

kmp/.gradle/
kmp/build/
kmp/shared/build/

examples/sample-app/node_modules/
examples/sample-app/dist/
examples/sample-app/android/.gradle/
examples/sample-app/android/build/
examples/sample-app/android/app/build/
examples/sample-app/android/local.properties
examples/sample-app/ios/Pods/
examples/sample-app/ios/App/build/
